body{
  font-family: "Raleway", "Microsoft YaHei";
}

h2 {
  font-weight: 900;
  letter-spacing: .1em;
}


#nav {
  text-align:center;
  font-size:16px;
  background-color: #0C68F0; /*rgb(76,0,153);*/
  height:60px;
  width:100%;
  padding:0px;
  border: none;
  /*opacity: 0.7;*/
}

#nav div {
  height:100%;
  padding-top:1.5%;
}

#nav a div{ 
  height:100%;
  color: white;
}

#logo a{
  font-size: 20px;
}

#nav div:hover{
  background-color: #213350; /*rgb(153,51,255);*/
}

a:hover{
  text-decoration: none;
}

.glyphicon-tint{
  font-size: 20px;
  color: white;
}

/*#background {
  background-color: #000000;
  filter:alpha(opacity=);
  -moz-opacity:0.7;
  opacity:0.7; 
  -khtml-opacity: 0.7;
}*/

#background {
  width: 100%;
  height: 499px; /*responsive的时候各种问题= =*/
  margin-top: 60px;
  background-image: 
   linear-gradient(
       rgba(15, 25, 155, 0.3),
       rgba(15, 25, 155, 0.4)
    ),
   url("../images/background/gatineau.png");
  background-size: cover;
}

#slogan {
  height: 499px;
  position: absolute;
  left: 0px;
  top: 160px;
  text-align: center;
  color: white;
}

.button {
  border-radius: 3px;
  padding: 12px 40px;
  letter-spacing: .1em;
  font-size: 20px;
}

#background .button {
  border: 2px solid #fff;
  color: #fff;
  background: 0 0;
  margin-top: 15px;
}

#background .button:hover {
  background-color: #fff;
  color: rgb(10,10,10);
}


#intro {
  margin-top:80px;
  text-align: center;
  color: #262626;
}

.separator {
  width: 100px;
  height: 2px;
  background: #000;
  display: inline-block;
  opacity: .3;
}

#intro .button {
  border-radius: 3px;
  color: #fff;
  background-color: #213350; 
  margin-top: 40px;
}

#intro .button:hover {
  background-color: #ff6400;
}

#worshipTime {
  display:none;
}

#flock {
  width: 100%;
  height: 400px;
  margin-top: 100px;
  background-image:
    linear-gradient(
       rgba(15, 15, 15, 0.5),
       rgba(15, 15, 15, 0.5)
    ),
   url("../images/background/church.jpg");
  background-size: cover;
}

#sloganFlock {
  margin-top: 4%;
  padding: 20px;
  color: #fff;
  text-align: center;
  border: 5px solid #fff;
}

#service {
  color: #262626;
  text-align: center;
  margin-top: 80px;
}

#service .button {
  border-radius: 3px;
  color: #fff;
  background-color: #213350;
  margin-top:40px;
}

#service .button:hover {
  background-color: #ff6400;
}

#bible {
  width: 100%;
  height: 400px;
  margin-top: 100px;
  background-image:
    linear-gradient(
      rgba(15, 15, 15, 0.5),
      rgba(15, 15, 15, 0.5)
    ),
    url("../images/background/bible.jpg");
  background-size: cover;
}

#sloganBible {
  color: #fff;
  text-align: center;
  margin-top: 10%;
  letter-spacing: .1em;
}

#bible .button {
  color: #fff;
  text-align:center;
  border: 1px solid #fff;
  background: 0 0;
  margin-top: 20px;
}

#bible .button:hover {
  background-color: #fff;
  color: rgb(10,10,10);
}

#hotline {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 30px;
}

#hotline .button {
  border-radius: 3px;
  color: #fff;
  background-color: #213350;
  margin-top:40px;
}

#hotline .button:hover {
  background-color: #ff6400;
}

#hand {
  width: 100%;
  height: 400px;
  margin-top: 100px;
  background-image:
    linear-gradient(
      rgba(15, 15, 15, 0.5),
      rgba(15, 15, 15, 0.5)
    ),
    url("../images/background/hand.jpg");
  background-size: cover;
}

#sloganGroup {
  color: #fff;
  text-align: center;
  margin-top: 8%;
  letter-spacing: .1em;
}

#groups {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 30px;
}

.group {
  height: 250px;
  margin-top: 50px;
  margin-right: 50px;
  background-color: #fff;
  border: 1px solid #252525;
}

.group h3 {
  margin-top: 10%;
}

#tree {
  width: 100%;
  height: 400px;
  margin-top: 100px;
  background-image:
    linear-gradient(
      rgba(15, 15, 15, 0.3),
      rgba(15, 15, 15, 0.3)
    ),
    url("../images/background/tree.jpg");
  background-size: cover;
}

#contact {
  color: #fff;
  text-align: left;
  margin-top: 8%;
  letter-spacing: .1em;
}

.flip {
    -webkit-perspective: 800;
    position: relative;
    margin: 50px auto;
}
.flip .card.flipped {
    -webkit-transform: rotatey(-180deg);
}
.flip .card {
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: 0.5s;
}
.flip .card .face {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-backface-visibility: hidden ;
    z-index: 2;
    font-size: 3em;
    text-align: center;
    line-height: 200px;
}
.flip .card .front {
    position: absolute;
    z-index: 1;
    cursor: pointer;
}
.flip .card .back {
    -webkit-transform: rotatey(-180deg);
    color: black;
    cursor: pointer;
}
.row {
  margin-left:0px;
  margin-right:0px;
}